@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #2096f3;
  padding: 20px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.form-cont {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-cont.hidden {
  display: none;
}

.form-input {
  padding: 10px 5;
  margin: 10px 5;
}

.health-check {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.health-check .item {
  width: 100%;
  display: block;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.health-label .ant-form-item-label {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.health-label .ant-form-item-label label {
  color: gray;
  margin-bottom: 2%;
}

.submit-cont {
  text-align: left;
}
.submit-btn {
  width: 300px;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
}

@media only screen and (max-width: 800px) {
  .submit-btn {
    width: 100%;
  }
}

.popup-cont {
  padding: 40px 10px;
}

.popup-cont.hidden {
  display: none;
}

.popup-message {
  background: lightgray;
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.popup-message h1 {
  margin: 0;
  font-weight: bold;
  color: white;
}


.popup-message.-success {
  background: green;
  color: white;
  font-weight: bold;
}

.popup-message.-fail {
  background: red;
  color: white;
  font-weight: bold;
}

.ant-select {
  text-align: left;
}

.health-label {
  text-align: left;
}

.bar-cont {
  height: 3px;
}
.bar {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 3px;
  display: block;
}